/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

:root {
  --light-color: #fff;
  --dark-color: #333;
  --btn-submit: #ff7675;
  --btn-secondary: #4b4b4b;
}

body {
  background: #f3f3f3;
}
img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: 'Bree Serif', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
#main-div .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  background: var(--light-color);
}

.social a i {
  color: #fd79a8;
}

#main-div .logo {
  width: 180px;
}

#main-div ul li {
  list-style: none;
}
#main-div ul {
  display: flex;
}

#main-div ul li {
  font-weight: bold;
  padding: 1rem;
  cursor: pointer;
  color: var(--dark-color);
}
#main-div ul .current {
  background: red;
  padding: 1rem;
}
#main-div ul li a {
  text-decoration: none;
  color: #333;
}
#main-div ul .current:hover {
  background: var(--light-color);
}

/* Showcase */
#showcase {
  background: #333;
  color: #fff;
  padding: 2rem;
  position: relative;
}
#showcase:before {
  content: '';
  background: url('../img/featured.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

#showcase .showcase-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

#showcase .showcase-content {
  z-index: 1;
}

.category {
  display: inline-block;
  color: #fff;
  font-size: 0.8rem;
  background: orangered;
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 15px;
}

.showcase-content p {
  padding: 0 0 2rem 0;
}
.showcase-content a {
  color: #fff;
  text-decoration: none;
  background: #ff3838;
  padding: 0.5rem 0.8rem;
}
.btn-secondary {
  background: var(--btn-secondary);
  padding: 0.75rem;
  text-decoration: none;
}
.join {
  margin-bottom: 1.2rem;
}
/* Articles */
.card {
  background: #fff;
}
.card p {
  padding: 0.75rem;
}

.container h2 {
  text-align: center;
  padding-top: 1.2rem;
}
.container h2 a {
  color: #333;
}
.articles-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: 2rem;
}

/* Footer */
#main-footer {
  padding: 2rem 3rem;
  background: #333;
  color: #fff;
}

#main-footer img {
  width: 150px;
}

#main-footer a {
  color: #fff;
}

#main-footer .footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
}

#main-footer .footer-container ul li {
  list-style: none;
}
#main-footer .footer-container ul li a {
  text-decoration: none;
}
#main-footer .footer-container input[type='email'] {
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
#main-footer .footer-container .btn-submit {
  background: var(--btn-submit);
  border: none;
  border-radius: 0px;
  padding: 1rem;
  color: #fff;
  font-size: 0.8rem;
}

/* About Us */
#about {
  padding: 2rem;
}
.about-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 2rem;
}
aside {
  background: #e74c3c;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
aside a,
.aside-part a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
aside .btn-submit {
  background: #2c3e50;
  padding: 0.5rem 0.6rem;
  border: none;
  border-radius: 15px;
  display: block;
  margin: 0 0.5rem;
}

/* Single Article */

.article-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 2rem;
}
.article-content img {
  height: 500px;
}

.main-part {
  background: #fff;
}

.categories {
  background: #fff;
  margin-top: 1rem;
  padding: 2rem 1rem;
}
.categories ul li {
  list-style: none;
}
.categories ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 2;
}
.categories ul li a i {
  padding-left: 0.5rem;
}

.aside-part .btn-submit {
  background: #2c3e50;
  padding: 0.5rem 0.6rem;
  border: none;
  border-radius: 15px;
  display: block;
  margin: 0 0.5rem;
}
